@import "tailwindcss";

@theme {
  --color-brand-blue: #003366;
  --color-brand-blue-hover: #002244;
  --color-brand-red: #ef4444;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased min-h-screen;
  }
}